* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

div.herosection {
    background-image: url('assets/darkbg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%
}

nav .title {
    display: flex;
    align-items: center;
    padding-left: 2.5%;
}

nav .title .titleitem {
    display: inline;
    margin-left: 0.5rem;
}

nav .title img {
    width: 62px;
}

nav .navmenu {
    display: inline;
    padding: 1rem;
}

nav .login {
    padding-right: 2.5%;
}

nav .navbutton {
    display: inline;
    font-size: 110%;
    border-radius: 5px;
    background-color: rgba(78, 96, 116, 0.3);
    padding: 1rem;
}